nav{
    background-color: navy;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    width: 100%;
    height: 10vh;
    padding-top: 7vh;
}
main{
    margin: auto;
    max-width: 80vw;
    height: 30vh;
    background-color: forestgreen;
}